# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Data (optional, if you don't want to commit large datasets, but for now we are committing parks.json)
# data/parks.json
